<div ng-controller="HomeController">
    <div class="home-userinfo-section vertical-bottom">
        <div class="vertical-slide-div">
            <div class="horizontal-center"><img class="home-userinfo-icon" ng-src="{{GlobalData.UserInfo.AvatarUrl}}" /></div>
            <div class="horizontal-center"><p align="center">{{GlobalData.UserInfo.UserName}}</p></div>
        </div>
    </div>
    <div class="home-button-section vertical-top">
        <div class="vertical-slide-div">
            <div class="home-button-row horizontal-center">
                <a class="btn btn-default home-btn" ui-sref="create" href="#/create">创建房间</a>
            </div>
            <div class="home-button-row horizontal-center">
                <a class="btn btn-default home-btn" ui-sref="join" href="#/join">加入房间</a>
            </div>
            <div class="home-button-row horizontal-center">
                <a class="btn btn-default home-btn" ui-sref="setting" href="#/setting">设置</a>
            </div>
        </div>
    </div>
</div>