<h4>This is Join</h4>

<a ui-sref="room.wait({roomId: '111111'})" href="#/room/111111/wait">Wait</a>
<a ui-sref="room.game({roomId: '222222'})" href="#/room/222222/game">Game</a>
<a ui-sref="home" href="#/home">Back</a>