body {
    background-color: #222;
    font-family: 'Microsoft YaHei';
}
/* Set padding to keep content from hitting the edges */
.body-content {
    position: relative;
    background-color: #fff;
    height: 100vh;
    max-width: 60vh;
    padding-top: 50px;
    margin: 0 auto;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.vertical-top {
    display: flex;
    align-items: flex-start;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.vertical-bottom {
    display: flex;
    align-items: flex-end;
}

.vertical-slide-div {
    width: 100%;
}

.horizontal-left {
    display: flex;
    justify-content: flex-start;
}

.horizontal-center {
    display: flex;
    justify-content: center;
}

.horizontal-right {
    display: flex;
    justify-content: flex-end;
}

.horizontal-slide-div {
    height: 100%;
}


/* Home page */
.home-userinfo-section {
    position: relative;
    height: 40vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
}
.home-button-section {
    height: 30vh;
}
.home-userinfo-icon {
    height: 50vw;
    max-height: 30vh;
    margin: 2vh;
}
.home-button-row {
    margin-bottom: 5vh;
}
.home-btn {
    width: 50vw;
    max-width: 30vh;
    padding: 2vh 0;
}

/* Join page*/
.digtal-header-section {
    margin-top: 5vh;
}
.digtal-section {
    padding-top: 5vh;
    height: 20vh;
}
.hidden-input {
    opacity: 0;
    height: 0;
    width: 0;
}

/* Room page */
.seat-section {
    height: 60vh;
}

.config-section {
    padding-top: 50px;
    height: 40vh;
}

.player-lg-section {
    height: 20vh;
    padding: 4px;
}

.player-sm-section {
    height: 15vh;
    padding: 3px;
}

.player-icon-section {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.player-lg-icon {
    height: 12vh;
    width: 12vh;
}

.player-sm-icon {
    height: 10vh;
    width: 10vh;
}

.player-name {
    text-overflow: ellipsis;
    text-align: center;
}

.player-name-section {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 2px;
    text-overflow: ellipsis;
    text-align: center;
}

.config-content-section {
    height: 80%;
    margin-left: 0px;
    margin-right: 0px;
    border-top: 1px solid transparent;
    border-color: #ccc;
}

.config-tab-section {
    height: 20%;
    margin-left: 0px;
    margin-right: 0px;
}

.config-tab-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    height: 100%;
    font-size: large;
}