body {
    background-color: #222;
    font-family: 'Microsoft YaHei';
}
/* Set padding to keep content from hitting the edges */
.body-content {
    min-height: 100vh;
    max-width: 60vh;
    position: relative;
    background-color: #fff;
    max-width: 60vh;
    margin: 0 auto;
    padding-top: 50px;
}

.wrapper {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}


/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.vertical-top {
    display: flex;
    align-items: flex-start;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.vertical-bottom {
    display: flex;
    align-items: flex-end;
}

.vertical-slide-div {
    width: 100%;
}

.horizontal-left {
    display: flex;
    justify-content: flex-start;
}

.horizontal-center {
    display: flex;
    justify-content: center;
}

.horizontal-right {
    display: flex;
    justify-content: flex-end;
}

.horizontal-slide-div {
    height: 100%;
}

/* Switch */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    .switch input {
        display: none;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 30px;
        width: 30px;
        left: 2px;
        bottom: 2px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #4CAF50;
}

input:focus + .slider {
    box-shadow: 0 0 1px #4CAF50;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }

/* Home page */
.home-userinfo-section {
    padding-bottom: 10vh;
    position: relative;
    height: 60vh;
    padding-bottom: 10vh;
}

.home-button-section {
    height: 30vh;
}

.home-userinfo-icon {
    height: 50vw;
    max-height: 30vh;
    margin: 2vh;
}

.home-button-row {
    margin-bottom: 5vh;
}

.home-btn {
    width: 50vw;
    max-width: 30vh;
    padding: 2vh 0;
}

/* Create page */
.config-group {
    padding-top: 4vh;
}

.config-end {
    padding-top: 4vh;
    padding-bottom: 10vh;
}

.config-row {
    background-color: #fff;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: -1px;
    display: flex;
    align-items: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    height: 8vh;
}

.config-submit {
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
}

/* Join page*/
.digtal-header-section {
    margin-top: 5vh;
}

.digtal-section {
    padding-top: 5vh;
    height: 20vh;
}

.hidden-input {
    opacity: 0;
    height: 0;
    width: 0;
}

/* Room page */
.player-lg-section {
    height: 20vh;
    padding: 4px;
}

.player-sm-section {
    height: 15vh;
    padding: 3px;
}

.player-icon-section {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.player-lg-icon {
    height: 12vh;
    width: 12vh;
}

.player-sm-icon {
    height: 10vh;
    width: 10vh;
}

.player-name {
    text-overflow: ellipsis;
    text-align: center;
}

.player-name-section {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 2px;
    text-overflow: ellipsis;
    text-align: center;
}


.start-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    height: 8vh;
    width: 100%;
    font-size: large;
}

.character-row {
    height: 25%;
    display: flex;
    align-items: center;
}

.character-icon {
    margin-left: 2px;
    margin-right: 2px;
    border: 1px solid #ccc;
}

.game-button {
    height: 50px;
    border-radius: 0;
    width: 100%;
    font-size: large;
}

.game-opt {
    height: 5vh;
    min-height: 50px;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
}
