<div class="row home-userinfo-section vertical-bottom">
    <div class="vertical-slide-div horizontal-center" ui-view></div>
</div>
<div class="row home-button-section vertical-top">
    <div class="vertical-slide-div">
        <div class="row home-button-row horizontal-center">
            <a class="btn btn-default home-btn" ui-sref=".icon">修改头像</a>
        </div>
        <div class="row home-button-row horizontal-center">
            <a class="btn btn-default home-btn" ui-sref=".password">修改密码</a>
        </div>
        <div class="row home-button-row horizontal-center">
            <a class="btn btn-default home-btn" href="#/">退出登录</a>
        </div>
    </div>
</div>