<div ng-controller="RoomController">
    <div class="navbar navbar-inverse navbar-fixed-top" style="position:absolute;">
        <a ui-sref="home" href="#/home">Back</a>
    </div>
    <div ui-view></div>
</div>
