<div class="row">
    <div ng-repeat-start="player in data.players.slice(1)" class="clearfix" ng-if="(data.players.length<=10 && $index%3==0) || (data.players.length>10 && $index%4==0)"></div>
    <div ng-repeat-end class="{{data.players.length <= 10?'col-xs-4 player-lg-section':data.players.length <= 13?'col-xs-3 player-lg-section':'col-xs-3 player-sm-section'}}">
        <div class="player-icon-section" style="height:80%"><img class="{{data.players.length <= 13?'player-lg-icon':'player-sm-icon'}}" ng-src="{{player.AvatarUrl}}" /></div>
        <div class="player-name-section" style="height:20%">{{player.NickName}}</div>
    </div>
</div>
<div class="navbar-fixed-bottom horizontal-center">
    <div style="width:100%;max-width:60vh;">
        <a class="btn start-button {{readyToStart()?'btn-success':'btn-default disabled'}}" ng-click="start()">开始游戏</a>
    </div>
</div>